@font-face {
    font-family: 'Alarm_Clock';
    src: url(assets/fonts/alarm_clock.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Impact';
    src: url(assets/fonts/impact.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Sauber';
    src: url(assets/fonts/Sauber.otf);
    font-weight: normal;
}

*{
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main-canvas{
    position: absolute;
    background: black;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    max-width: 100vw;
    max-height: 100vh;

    margin: auto;
}
.hidden{
    display: none;
}

.admin-tool{
    z-index: 2;
    position: fixed;

    width: 50%;
    background-color: lightgray; /* Define a cor de fundo */
    border: 2px solid black;     /* Define a borda */
    padding: 10px;              /* Espaço interno */
    margin: 10px;               /* Espaço externo */

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    
    text-align: center;
    font-size: 13pt;
}
.admin-tool input{
    height: 30px;
    text-align: center;
    font-size: 13pt;
    margin-bottom: 5px;
    font-family: 'Sauber';
}

.admin-tool .password-input{
    width: 75%;
}

.pulse-input{
    width: 50px;
    font-family: 'Sauber';
}

.admin-tool button.red-button{
    background-color: red;
}

.admin-tool button.green-button{
    background-color: green;
}

.admin-tool button{
    border: 0px;  
    height: 50px;
    width: 150px;

    margin-left: 50px;
    margin-right: 50px;

}

.task-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid: center;
  
}
.task-grid button{
    height: 90%;
}


/* .task-grid > div {
  border: 2px solid rgb(233 171 88);
  background-color: rgb(233 171 88 / 50%);
  color: #d9480f;
} */

.task-grid .l-buttons{
    grid-column: 1;
    grid-row: 1/3;
}

.task-grid .r-buttons{
    grid-column: 4;
    grid-row: 1/3;
}

.task-grid .set-pulse-values{
    grid-column: 2;
    grid-row: 1;
}

.task-grid .pulse-inputs{
    grid-column: 3;
    grid-row: 1;
}

.task-grid .pulse-input{
    grid-column: 3;
    grid-row: 1;
}

.task-grid .set-password-values{
    grid-column: 2/4;
    grid-row: 2;
}

.task-grid .button-cancel{
    grid-column: 1;
    grid-row: 3;
}

.task-grid .button-confirm{
    grid-column: 4;
    grid-row: 3;
}


@supports (height: 100dvh) {
    #main-canvas{
        position: absolute;
        background: black;
        width: 100dvw;
        height: 100dvh;
        top: 0;
        left: 0;

        max-width: 100dvw;
        max-height: 100dvh;
    
        margin: auto;
    }
  }

  video{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
  }

   /* #End-Video{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
  } */

  .video-focus{
    z-index: 1;
    object-fit: cover;
  }