@font-face {
    font-family: 'Alarm_Clock';
    src: url(assets/fonts/alarm_clock.ttf);
    font-weight: normal;
}

*{
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main-canvas{
    position: absolute;
    background: black;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    max-width: 100vw;
    max-height: 100vh;

    margin: auto;
}

@supports (height: 100dvh) {
    #main-canvas{
        position: absolute;
        background: black;
        width: 100dvw;
        height: 100dvh;
        top: 0;
        left: 0;

        max-width: 100dvw;
        max-height: 100dvh;
    
        margin: auto;
    }
  }
