@font-face {
    font-family: 'Jost';
    src: url(Assets/Fonts/Jost-Bold.ttf);
    font-weight: bold;
}

*{
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

@media screen and (orientation: portrait) {
#main-canvas{
    position: absolute;
    background: white;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    max-width: 100vw;
    max-height: 100vh;

    margin: auto;
}
}

@media screen and (orientation: landscape) {
       #main-canvas{
        /* Rotate the content container */
    
        top: 100%;
        left: 0;
        transform: rotate(90deg);
        transform-origin: left top;
        /* Set content width to viewport height */
        width: 100vh;
        /* Set content height to viewport width */
        height: 100vw;
        /* overflow-x: hidden; */
        position: absolute;
      
      }
    }

@supports (height: 100dvh) {
     @media screen and (orientation: portrait) {
        #main-canvas{
            position: absolute;
            background: white;
            width: 100dvw;
            height: 100dvh;
            top: 0;
            left: 0;

            max-width: 100dvw;
            max-height: 100dvh;
        
            margin: auto;
        }
    }

    @media screen and (orientation: landscape) {
       #main-canvas{
        /* Rotate the content container */
    
        top: 100%;
        left: 0;
        transform: rotate(-90deg);
        transform-origin: left top;
        /* Set content width to viewport height */
        width: 100dvh;
        /* Set content height to viewport width */
        height: 100dvw;
        /* overflow-x: hidden; */
        position: absolute;
      
      }
    }
  }
